.app-select{
  width: 100%;
  position: relative;
  margin: 10px 0 20px;
}
.app-select__label{
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
  @include text(14px,$darkPromo,1.5,700);
}
.app-select__list{
  padding: 5px 15px 7px 7px;
  border: 1px solid $grey;
  @include text(14px,$grey,1.5,400);
  max-height: 200px;
  overflow-y: scroll;
}
.app-select__item{
  cursor: pointer;
  padding: 5px;
  transition: background-color .1s ease;
}
.app-select__item_active{
  background-color: $lite;
}
.app-select__error-text{
  position: absolute;
  bottom: 0%;
  transform: translateY(calc(100% + 5px));
  color: $red;
}