.app-slider__wrap{
    height: 55%;
    display: block;
}
.app-slider{
    position: relative;
    height: 100%;
    & .swiper {
        width: 100%;
      }
    & .swiper-wrapper{
        height: 100%;
    }
    & .swiper-slide {
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: -100;
        height: 100%;
      }
    & .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
      }
    & .swiper-pagination-bullet{
        background-color: $dark ;
        width: 12.5px;
        height: 12.5px;
    }
}
.app-slider_full{
    height: calc(100vh - $topPadding);
}
.app-slider__bg{
    object-fit: cover;
    height: 100%;
}
.app-slider__logo{
    width: 81px !important;
    height: 66px !important;
    margin-bottom: 38px;
    opacity: 1;
}
.app-slider__content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-slider__content_white{
   & .app-slider__title,& .app-slider__text{
       color: $white;
   }
}
.app-slider__title{
    @include text(75px,$darkPromo,1em,bold);
    text-transform: uppercase;
    margin-bottom: 50px;
    white-space: nowrap;
}
.app-slider__text{
    @include text(22px,$darkPromo,1em,500);
    letter-spacing: .4em;
    text-transform: uppercase;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .app-slider__wrap{
        height: calc(100vh - 2 * $navHeight);
    }
    .app-slider__logo{
        transform: scale(.75);
        margin-bottom: 10px;
        height: auto;
    }
    .app-slider__title{
        font-size: 30px;
        line-height: 1px;
        margin-bottom: 30px;
    }
    .app-slider__text{
        font-size: 14px;
    }
 
}