.cart-buy{
    display: flex;
    justify-content: space-between;
    padding: 70px 15px 30px;
    border-top: 1px solid $border;
    width: 100%;
}
.cart-buy__info{
    display: flex;
    align-items: center
}
.cart-buy__title{
    @include text(30px,$dark,1,normal);
}
.cart-buy__price{
    @include text(30px,$dark,1,bold);
}
.cart-buy__btn{
    width: 180px; 
}