$logoBg:#1c1c1c;
$dark:#262626;

$darkPromo:#333;
$white:white;
$lite:#e9e9e9;
$sup-lite:#fafafa;
$img-bg:#f1f1f1;
$grey:#888888;
$border:#e5e5e5;
$blue:#3b5998;
$google:#df4a32;
$border-dark:#3c3c3c;
$dropdown:#555;
$red:#f13340;
$green:#46a74e;
$primary-color:#155724;
$primary-bg:#d4edda;
$danger-color:#721c24;
$danger-bg:#f8d7da;


$navHeight:60px;
$asideWidth:100px;
$asideForm:264px;
$productsAsideWidth:300px;

$container:1200px;

$topPadding:calc(15px + $navHeight);
$sidePadding:calc(15px + $asideWidth);

