.product-comments__create{
    border-top: 1px solid $border;
    padding: 20px 0 ;
}
.product-comments__form{
    display: flex;
    width: 100%;

}
.product-comments__add{
    margin: 26px 20px 0 0;
}
.product-comments__inputs{
    width: 100%;
}

@media screen and (max-width:520px) {
    .product-comments__form{
        flex-direction: column;
    }
    .product-comments__add{
        margin: 26px 0px 0 0;
    }
}