.product-options{
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-options__list{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.product-options__item{
    margin-right:10px;
    &:last-child{
        margin-right: 0;
    }
}
.product-options__text{
    margin-bottom: 10px;
    text-align: center;
    user-select: text;
    & span{
        background-color: #eee;
        padding: 5px 9px;
        font-weight: 500;
        color: $dark;
        border-radius: 100px;
        white-space: nowrap;
    }
}
.product-options__title{
    text-transform: uppercase;
    @include text(30px,$logoBg,30px,500);
    user-select: text;
}
.product-options__price{
    margin-top: 20px;
    @include text(35px,$dark,1.5,400);
    user-select: text;
}
.product-options__row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-options__dropdown{
    width: 100%;
    max-width: 266px;
    margin:0 30px;
}
.product-options__btn{
    width: 100%;
    max-width: 615px;
}
.product-options__error{
    color: red;
}
@media screen and (max-width:640px) {
    .product-options__row{
        flex-direction: column;
    }
    .product-options__dropdown{
        max-width: none;
    }
    .product-options__btn{
        margin-top: 20px;
    }
}
@media screen and (max-width:540px) {
    .product-options__text{
        font-size: 10px;
    }
}
@media screen and (max-width:450px) {
    .product-options__text{
        font-size: 10px;
    }
    .product-options__item{
        margin: 0 5px;
    }
}